# dependencies
/node_modules

# next.js
/.next
/out

# production
/build

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS
.DS_Store

# linux
*~

# vscode
.vscode/

# idea
.idea/

# typescript
*.tsbuildinfo

# coverage
/coverage

# vercel
.vercel

# turbopack
.turbo

# misc
*.pem
